<div class="row successbox">
  <div class="col-3 green">
    <p>Total number of orgnizations on the network</p><h1>1</h1>
  </div>
  <div class="col-3 green">
    <p>Total number of certificate authorities on the network</p><h1>1</h1>
  </div>
  <div class="col-3 green">
    <p>Total number of channels created on the network to connect the nodes</p><h1>1</h1>
  </div>
  <div class="col-3 green">
    <p>Total number of orderer on the network</p><h1>1</h1>
  </div>
  <div class="col-3 green">
    <p>Total number of blocks on the network</p><h1>1</h1>
  </div>
  <div class="col-3 green">
    <p>Latest chaincode installed on the network</p><h1>1</h1>
  </div>
</div>
