<h2>Available Channels</h2><img src="../../../assets/images/tooltip.png" />
<div class="row successbox">
  <div class="col-3 green">
    <h3>Success</h3><p>Channel was created successfully !</p>
  </div>
  <div class="col-3 blue">
    <p>Click on <b>Create Channel</b> to add a channel to connect all nodes to the network !</p>
    <input type="button" value="Create Channel">
  </div>
  <div class="col-3 khaki">
    <p>Click on <b>Join Channel</b> to join the created peers to the channel in the network !</p>
    <input type="button" value="Join Channel">
  </div>
</div>
