<!-- Header Section starts here-->
<header class="header_bg">
  <div class="header_left"></div>
  <div class="header_right"></div>
  <div class="container">
    <div class="logo_pharma"> <a href="#"><img src="../assets/images/logo.png" alt="logo" /></a> </div>
    <div class="banner_text_right"> Blockchain for Business<br>
      <b>WITH IBM BLOCKCHAIN</b> </div>
  </div>
</header>
<!-- Header Section ends here-->
<app-components></app-components>
<!-- Footer Section starts here-->
<footer class="footer">© Copyright 2020</footer>
<!-- Footer Section ends here-->
